* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body {
    background-color: #f1f1f1;
}

.header-list {
    display: block;
    height: 20px;
    line-height: 50px;
}

.header-list li {
    background-color: #fff;
    display: inline;
    height: 20px;
    width: 100px;
    list-style: none;
    border-radius: 10px;
    position: relative;
    text-align: center;
    line-height: 20px;    
}

.header-list li:not(:last-of-type) {
    margin-left: 10px;
}

.header {
    background-color: #fff;
    height: 50px;
}

.header {
    overflow-y: hidden;
    overflow-x: scroll;
}