* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.header-list {
   position: relative;
   top: -40px;
   right: 50px;
}

.header-list li{
    list-style: none;
    display: inline;
    float: right;
    line-height: 40px;
    color: var(--tg-theme-text-color);
}

.header-list li:not(:last-of-type) {
    margin-left: 10px;
}

.header {
    background-color: var(--tg-theme-bg-color);
    height: 40px;
    color: var(--tg-theme-text-color);
    font-weight: 500;
}

.name {
    margin-left: 30px;
    position: relative;
    line-height: 40px;
}